{% extends "base.html" %}
{% block content %}
<div class="container">
        <h1>Game {{ game.pk }}</h1>
    {% if game.in_progress == True %}
        <h2 class="in-progress">Game In Progress</h2>
    {% elif game.in_progress == False %}
        <h2 class="finished">Game Finished</h2>
    {% endif %}
</div>
<div class="container previous-guesses">
    <h3>Previous Attempts</h3>
    {% for guess in guesses %}
    <li class="guess-item">{{ guess.guess_value }} - {{ guess.guess_date }}</li>
    {% endfor %}
</div>
<div class="container">
    <form action="{% url 'my_game' gamepk %}" method="POST">
        {% csrf_token %}
        {% if game.in_progress == True %}
            <input type="number" class="guess-number" name="guess-value">
            <input type="submit" value="Submit" class="submit-button">
        {% else %}
        <input type="number" class="guess-number" name="guess-value" disabled>
        <input type="submit" value="Submit" class="submit-button" disabled>
        {% endif %}
    </form>
    <a class="waves-effect waves-light btn return-btn" href="{% url 'games' %}"><i class="material-icons left">cloud</i>All Games</a>
</div>
{% endblock content %}