{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <form action="{% url 'games' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <label for="min-num" class="">Minimum Number</label>
                <input type="number" name="min-num" class="lower-bound">
            </div>
            <div class="row">
                <label for="max-num">Maximum Number</label>
                <input type="number" name="max-num" class="upper-bound">
            </div>
            <div class="row">
                <input type="submit" value="Create Game" class="submit-btn red lighten-5 create-game">
            </div>
        </form>
    </div>
</div>
{% endblock %}
