{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <form action="/guess" method="post">
            {% csrf_token %}
            <div class="row">
                <label for="min-num" class="min-num-lab">Minimum Number</label>
                <input type="number" name="min-num" class="min-level">
            </div>
            <div class="row">
                <label for="max-num" class="max-num-lab">Maximum Number</label>
                <input type="number" name="max-num" class="max-level">
            </div>
            <div class="row">
                <label for="guess" class="user-label">Guess a Number</label>
                <input type="number" name="guess" class="user-guess">
            </div>
            <div class="row">
                <input type="submit" value="Submit" class="submit-btn red lighten-5">
            </div>
        </form>
    </div>
</div>
{% endblock %}
