{% extends "base.html" %}
{% block content %}
<form action="/guess" method="post">
    {% csrf_token %}
    <label for="min-num" class="min-num-lab">Minimum Number</label>
    <input type="number" name="min-num" class=".min-level">
    <label for="max-num" class="max-num-lab">Maximum Number</label>
    <input type="number" name="max-num" class="max-level">
    <label for="guess" class="user-label">Guess a Number</label>
    <input type="number" name="guess" class="user-guess">
    <input type="submit" value="Submit" class="submit-btn">
</form>
{% endblock %}
